.auth-btn{
  margin: 0 auto;
}

.btn{
  color: #95D7AE !important;
}

.auth-form{
  margin: 50% auto;
  width: 80%;
}
a{
  text-decoration-line: none;
  color: black;
  margin: 0 auto;
  text-decoration-color: black;
}


